.meals-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
 padding-left: 20px


}
.meals-price-container{
    color:rgb(227, 47, 47);
    font-size: 1.25rem;

}
.meals-amount-container{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    border-radius: 12px;
   
}
.meals-button{
    background-color:  rgb(156, 16, 44);
    width: 60px;
    height: 30px;
    text-align: center;
    margin-top: 10px;


  
    

}